*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header{
  background: #333333;  
}
header a{
  color:#ffffff;
  font-size: 12px;
}
.header-nav{
  height: 40px;
}
header .link-list{
  display:flex ;
}

nav{
  height: 100px;
}
nav img{
  width: 175px;
}
nav ul{
  width: 480px;
  display: flex;
  justify-content: space-between;
}
nav ul a{
  font-size: 18px;
  color: #212121;
}
nav ul a.active{
  color:#e94400;
}


