<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrap">
        <%-include('header')%>
        <div class="content">
            <h1>登录</h1>
            <form action="/user/login" method="post">
                <p>
                    用户名：<input type="text" name="username">
                </p>
                <p>
                    密码：<input type="password" name="pass">
                </p>
                <p>
                    <button type="submit">确定</button>
                </p>
            </form>
        </div>
    </div>
</body>
</html>