<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #app {
      width: 500px;
      margin: 30px auto;
    }

    li {
      list-style: none;
      height: 40px;
      line-height: 40px;
      background: #88c326;
      margin: 10px 0;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
    }

    ul {
      border-bottom: 1px solid #000;
    }

    .active {
      background: #ce6b1a;
    }
  </style>
</head>

<body>
  <!-- 1、引入 vue -->
  <div id="app">
    <h1>商品列表</h1>
    <ul>
      <li :class="{active:item.isActive}" @click="change(item)" v-for="(item,index) in list" :key="index">
        <span>{{item.name}}</span>
        <span>{{item.price}}</span>
      </li>
    </ul>
    <h3>总价：{{ sum() }}</h3>
    <h3>总价：{{ total }}</h3>
    <input v-model="msg" type="text" />
  </div>
  <!-- 计算属性和方法调用的区别：
      方法调用：每当触发页面重新渲染时（data 当中有数据改变），方法就会被调用；
      计算属性：只有在计算所需的相关依赖发生变化时，才会重新计算；
  -->

  <script src="./vue.js"></script>
  <script>
    let vm = new Vue({
      // 2、确定要挂载的元素
      el: '#app',
      // 3、声明要绑定的数据
      data: {
        msg: '',
        list: [
          {
            name: '衬衫',
            price: 999,
            isActive: false
          },
          {
            name: '电脑',
            price: 13800,
            isActive: false
          },
          {
            name: '裙子',
            price: 1999,
            isActive: false
          },
          {
            name: '裤子',
            price: 888,
            isActive: false
          },
        ],
      },
      computed: {
        // 计算属性必须有返回值
        total() {
          let count = 0;
          this.list.forEach(element => {
            if (element.isActive === true) {
              count += element.price
            }
          });
          console.log(999);
          return count;
        }
      },
      methods: {
        change(obj) {
          obj.isActive = !obj.isActive;
        },
        sum() {
          let count = 0;
          this.list.forEach(element => {
            if (element.isActive === true) {
              count += element.price
            }
          });
          console.log(666);
          return count;
        }
      },
      // watch：监听属性的变化，被检测的属性一旦发生改变就会触发对应的方法
      watch: {
        msg: function (newVal, oldVal) {
          console.log(newVal, oldVal);
        }
      }
    })
  </script>
</body>

</html>